@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Poppins:wght@300;400;500;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    border-bottom: 2px solid black;
    align-items: center;
    padding: 5px;
    font-weight: 500;
}

.navbar ul{
    display: flex;
    width: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.navbar ul a li{
    list-style: none;
    padding: 3px 6px;
}

.navbar ul a li:hover{
    border: 2px solid black; 
    border-radius: .25rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar ul a{
    text-decoration: none;
    color: black;
}

.search-area{
    display: flex;
    margin-left: auto;
}

.search-area form{
    margin-right: 20px;
}

.search{
    padding: 5px;
    border: 2px solid black;
    border-radius: .25rem;
}

.btn{
    padding: 5px 8px;
    background-color: white;
    border: 2px solid black;
    border-radius: .25rem;
    font-weight: 700;
    margin-right: 5px;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.btn:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.slider-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    height: 500px;
  }
  
.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slider img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transform: translateY(-20%);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 15px 10px;
    font-size: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: none;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    height: 100%;
}

.prev{
    background-image: linear-gradient(to right, rgba(0, 0, 0, .8) , rgba(0, 0, 0, 0));
}

.next{
    background-image: linear-gradient(to left, rgba(0, 0, 0, .8) , rgba(0, 0, 0, 0));
}

.prev:hover{
    background-color: rgba(0, 0, 0, .5);
}

.next:hover{
    background-color: rgba(0, 0, 0, .5);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.info{
    position: absolute;
    top: 350px;
    color: white;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.title{
    font-size: 3rem;
}

.title, .subtitle{
    margin: 0 45px;
}