{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="navbar">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">My List</a></li>
            <li><a href="#">About</a></li>
        </ul>
        <div class="search-area">
            <form action="">
                <input type="text" name="search" id="search" class="search" placeholder="Search">
                <input type="button" value="Go" class="btn">
            </form>
            <input type="button" value="Login" class="btn">
            <input type="button" value="Sign up" class="btn">
        </div>
    </div>
    <img src="https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Mount Fuji" class="banner">
{% endblock %}