{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="navbar">
        <ul>
            <a href="#"><li>Home</li></a>
            <a href="#"><li>My List</li></a>
            <a href="#"><li>About</li></a>
        </ul>
        <div class="search-area">
            <form action="">
                <input type="text" name="search" id="search" class="search" placeholder="Search">
                <input type="button" value="Go" class="btn">
            </form>
            <input type="button" value="Login" class="btn">
            <input type="button" value="Sign up" class="btn">
        </div>
    </div>
    <div class="slider-container">
        <div class="slider">
          <!-- Add your image elements here -->
          <img src="https://images.unsplash.com/photo-1540959733332-eab4deabeeaf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1794&q=80" alt="Image 1">
          <img src="https://images.unsplash.com/photo-1545569341-9eb8b30979d9?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="Image 2">
          <img src="https://images.unsplash.com/photo-1526481280693-3bfa7568e0f3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80" alt="Image 3">
          <!-- Add more images as needed -->
        </div>
        <button class="prev"><</button>
        <button class="next" id = "next">></button>
        <div class="info">
            <div class="title">
                Movie Ttile
            </div>
            <div class="subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore assumenda culpa et, minus numquam provident, facilis itaque, deserunt nulla alias a. Maiores voluptatem magnam vitae dignissimos cum eos perferendis? Odit.
            </div>
        </div>
    </div>
    <div class="content">
        <div class="cards">
            <div class="card">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1698160540199-26ec7f574872?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Nature" class = "card-img">
                </div>
                <div class="captions">
                    <div class="caption-1">Nature</div>
                    <div class="caption-2">Hills</div>
                </div>
                <div class="heading">
                    <h1>Beautiful Hills</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit corrupti sunt. Voluptate molestias, totam nobis odio praesentium fugiat.
                </div>
                <div class="btn-1">
                    <button class = "button-1">Read More</button>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1698160540199-26ec7f574872?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Nature" class = "card-img">
                </div>
                <div class="captions">
                    <div class="caption-1">Nature</div>
                    <div class="caption-2">Hills</div>
                </div>
                <div class="heading">
                    <h1>Beautiful Hills</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit corrupti sunt. Voluptate molestias, totam nobis odio praesentium fugiat.
                </div>
                <div class="btn-1">
                    <button class = "button-1">Read More</button>
                </div>
            </div>

            <div class="card">
                <div class="image">
                    <img src="https://images.unsplash.com/photo-1698160540199-26ec7f574872?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Nature" class = "card-img">
                </div>
                <div class="captions">
                    <div class="caption-1">Nature</div>
                    <div class="caption-2">Hills</div>
                </div>
                <div class="heading">
                    <h1>Beautiful Hills</h1>
                </div>
                <div class="desc">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis odit corrupti sunt. Voluptate molestias, totam nobis odio praesentium fugiat.
                </div>
                <div class="btn-1">
                    <button class = "button-1">Read More</button>
                </div>
            </div>
        </div>
    </div>
      <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}